.about-section {
  background-color: rgb(183, 91, 72);
  margin: 0;
}

.about-section h1 {
  color: var(--grey);
}

.detail-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  flex-wrap: wrap;
}

.detail-wrapper .card {
  background-color: var(--brown);
  color: var(--grey);
  text-align: center;
  box-shadow: 4px 4px 0 2px var(--grey);
  border: 2px solid var(--grey);
}
