.ex-head {
  font-weight: 700;
  text-align: center;
  color: var(--brown);
}
.ex-card {
  background-color: var(--grey);
  color: var(--brown);
  text-align: center;
  box-shadow: 4px 4px 0 2px var(--brown);
  box-sizing: border-box;
  padding: 8px;
  height: 270px;
}
.ex-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  flex-wrap: wrap;
}

.ex-wrapper a {
  color: var(--brown);
  transition: font-size 0.3s;
  box-sizing: border-box;
}

.ex-wrapper a:hover {
  font-size: 105%;
}

.about-text {
  font-size: 14px;
}
