.folio-nav {
  background-color: white;
  opacity: 0.9;
}

.checkpoint {
  color: black;
  font-size: 22px;
  font-weight: 700;
  transition: scale 1s;
}

@media (max-width: 600px) {
  .checkpoint {
    font-size: 18px;
    flex-wrap: wrap;
  }
}

.checkpoint:hover {
  color: black;
  scale: 1.2;
}
