.skill-sec {
  height: 60vh;
}

.skill-box {
  display: inline-block;
  width: auto;
  margin: 0.5rem 1rem 0;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  margin: 0 100px;
}
.skill-card {
  margin: 16px;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 0 2px white;
  border: 2px solid white;
  width: 380px;
  translate: 0;
  transition: box-shadow 0.5s, translate 0.5s;
}
.skill-card:hover {
  box-shadow: 12px 12px 0 2px white;
  translate: -8px;
}
.skill-text {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 16px;
}
