/* Footer element */
.footer {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  background-color: var(--brown);
  /* opacity: 10; */
}

.footer a i {
  scale: 0.9;
  transition: scale 0.5s;
}
.footer a i:hover {
  scale: 1;
}
