.parent {
  box-sizing: border-box;
  width: 100%;
}
.project-card {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: var(--grey);
  width: 100% !important;
}
.skill-img-box {
  position: relative;
  /* display: inline-block; */
  height: inherit;
  display: flex;
  align-items: center;
}

.project-img-box {
  height: auto;
  position: relative;
}
.project-title {
  margin: 12px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.project-img {
  width: 100%;
  height: auto;
  margin: auto 4px;
  /* border-radius: 16px; */
}

.cover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.516) !important;
  position: absolute;
  top: 0;
  left: 4px;
  opacity: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: opacity 0.5s;
  /* border-radius: 16px; */
}
.card:hover .cover {
  opacity: 1;
}

@media (max-width: 992px) {
  .project-card {
    flex-wrap: wrap;
  }
  .project-img {
    height: auto;
  }
}
ul:has(.skill-bullet) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}
.skill-bullet {
  padding: 12px;
  font-weight: 600;
  position: relative;
}
