* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --brown: rgb(183, 91, 72);
  --grey: #e8ecd6;
  --slate: #b2c6b6;
}

body {
  overscroll-behavior: contain;
  background-color: var(--gray);
}
body a {
  text-decoration: none !important;
  color: white;
}
body a:active {
  color: black !important;
}
.outer-container {
  background-color: var(--grey);
}

.list-navigator {
  --bs-scroll-height: 100px;
}

#my-project {
  margin: 2rem !important;
}

.game-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.describe-list {
  list-style-type: square;
}

#about {
  padding: 0 0 60px;
  color: black !important;
}

.about-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 996px) {
  .about-card {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--grey);
}
::-webkit-scrollbar-track {
  border-left: 1px solid transparent;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--brown);
  width: 2px;
}
